<footer class="bg-white text-dark  ">
    <div class="container text-center">
        <h5>TravelCo</h5>
        <p>Explore amazing destinations around the world with us.</p>

        <div class="mb-3">
            <a href="#" class="text-dark mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-dark mx-2"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-dark mx-2"><i class="fab fa-twitter"></i></a>
        </div>

        <small>© 2026 TravelCo. All Rights Reserved.</small>
    </div>
</footer>