<% layout("layouts/boilerplate") -%>

<body>

    <section class="hero">

        <div class="hero-content">
            <h1>Discover Dreamlike Destinations</h1>
            <p>Discover beautiful destinations and unforgettable travel experiences.</p>

            <a href="/listings" class="explore-btn">Explore Places</a>
        </div>

    </section>

</body>